<%- include('partials/header') %>

<main>
  <section class="onemovie">
    <h1><%= movietitle %></h1>
    <%- movieintro %>
    <img src="<%= movieimage %>" alt="">
  </section>
</main>

<%- include('partials/footer') %>
